.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  background-image: url("/bg.png");
  background-size: cover;
  background-color: #D53729;
  font-family: 'Konstant';
}
.title {
  font-family: 'Portia';
  font-size: 100px;
  color: beige;
}

.subtitle {
  font-family: 'Konstant';
  font-size: 20px;
  color: beige;
  margin-bottom: 40px;
}

.subtitle1 {
  font-family: 'Konstant';
  font-size: 20px;
  color: beige;
  margin-bottom: 40px;
  margin-top: 30px;
}

.formlabel {
  font-family: 'Konstant';
  font-size: 16px;
  color: black;
  text-align: center;

}

.forminput {
  font-size: 14px;
  font-family: 'Konstant';
  color: #333;
  padding: 12px 15px;
  border-radius: 15px 15px 15px 15px;
box-shadow: none;
border: none;
background-color: white;
  width: 250px;
  height: 30px;
}

.forminput1 {
  width: 300px;
  height: 70px;
  font-size: 14px;
  font-family: 'Konstant';
  color: #333;
  padding: 12px 15px;
  border-radius: 15px 15px 15px 15px;
box-shadow: none;
border: none;
background-color: white;
}

.formcont {
  background-color: #F4EE4E;
  opacity: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  border-radius: 5%;
  padding: 40px;
  padding-left: 60px;
  padding-right: 60px;
}

.formbutton {
  width: 80px;
  height: 40px;
  font-size: 16px;
  font-family: 'Konstant';
  color: #fff;
  padding-top: 5px;
  border-radius: 15px 15px 15px 15px;
box-shadow: none;
border: none;
background-color: #D53729;
font-weight: bold;
}

.formbutton1 {
  width: 80px;
  height: 30px;
  font-size: 14px;
  font-family: 'Konstant';
  color: #fff;
  padding-top: 5px;
  border-radius: 15px 15px 15px 15px;
box-shadow: none;
border: none;
background-color: #D53729;
font-weight: bold;
margin-left: 5px;
}

.formbutton:hover {
  background-color: beige;
  color: black;
}

.formbutton1:hover {
  background-color: #EDD251;
  color: black;
}

.postcont {
  background-color:#EDD251;
  margin-bottom: 5px;
  border-radius: 2%;
  padding: 20px;
  width: 500px;
}
.posttitle {
  margin-top: 10px;
  font-family: 'Konstant';
  font-size: 20px;
  color: #D53729;
  font-weight: 1000;
  text-align: center;
  
}
.postcontent {
  margin-top: 10px;
  font-family: 'Konstant';
  font-size: 16px;
  color: black;
  font-weight: 1000;
  text-align: center;

}

.commentcont {
  background-color: beige;
  opacity: 90%;
  padding: 20px;
  border-radius: 2%;
  margin-bottom: 30px;
}

.reel1 {
  position: absolute;
  top: 0px;
  left: -5px;
}
.reel3 {
  position: absolute;
  top: 1220px;
  left: -5px;
}

.reel2 {
  position: absolute;
  top: 0px;
  right: -10px;
}
.reel4 {
  position: absolute;
  top: 1220px;
  right: -10px;
}

.signin {

font-size: 20px;
color: beige;
text-align: center;
}

.pfp {
  width: 200px;
  height: 200px;
}

.signinbutton{
  width: 100px;
  height: 40px;
  font-size: 16px;
  font-family: 'Konstant';
  color: black;
  padding-top: 5px;
  border-radius: 15px 15px 15px 15px;
box-shadow: none;
border: none;
background-color: beige;
font-weight: bold;

}

.signinbutton1{
  width: 170px;
  height: 40px;
  font-size: 16px;
  font-family: 'Konstant';
  color: black;
  padding-top: 5px;
  border-radius: 15px 15px 15px 15px;
box-shadow: none;
border: none;
background-color: beige;
font-weight: bold;

}

.signinbutton1:hover {
  background-color: #EDD251;
  color: black;
}

.signinbutton:hover {
  background-color: #EDD251;
  color: black;
}

.comment {
  color: black;
}